<div id="m_aside_left" class="m-grid__item m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark">		
        <ul class="m-menu__nav">
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">Reports</h4>
                <i class="m-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="?page=inner&amp;demo=demo12" class="m-menu__link ">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-graphic"></i>
                    <span class="m-menu__link-text">Accounting</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>